.section {

}

.speaker-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.thumbnail-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.thumbnail-img {
  float: left;
  padding-top: 10px;
}

.thumbnail-img img {
  display: block;
  height: 125px;
  width: 125px;
}

.thumbnail-content {
  padding-left: 15px;
  margin-left: 135px;
  font-size: 18px;
  line-height: 28px;
}

.competitor-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.speaker-section .thumbnail-content {
  margin-left: 0;
}

@media (max-width: 620px) {
  .competitor-section .thumbnail-content {
    margin-left: 0;
  }
}
